#eventsPageTop {
	background: #fff;
	margin: 0px 0px 0px 0px;
	padding: 20px 20px 20px 20px;
}

#eventsPageTop h1 {
	color: #313175;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 20px 0px;
}

.eventSlide {
	width: 955px;
}

.eventSlide .lCol {
	border-right: 1px solid #dddddd;
	float: left;
	padding: 0px 20px 0px 0px;
	width: 448px;
}

.eventSlide .img {
	background: #f1f1f1;
	line-height: 0.8;
	position: relative;
	min-height: 92px;
}

.eventSlide .date {
	background: none repeat scroll 0 0 #EC1A29;
	color: #FFFFFF;
	font-size: 44px;
	font-weight: bold;
	left: 0;
	line-height: 1;
	padding: 15px 20px;
	position: absolute;
	top: 0;
}

.eventSlide .date span {
	display: block;
	font-size: 18px;
	line-height: 1;
	text-align: center;
}

.eventSlide h2 {
	color: #313175;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;
}

.more a, .more {
	color: #c42625;
	font-size: 10px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.eventSlide .rCol {
	border-left: 1px solid #dddddd;
	float: left;
	margin: 0px 0px 0px -1px;
	padding: 0px 0px 0px 21px;
	width: 318px;
}

.eventSlide .img {
	background: #f1f1f1;
	line-height: 0.8;
	position: relative;
	min-height: 92px;
}

.eventSlide .info {
	color: #9e9e9e;
	font-size: 10px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;
}

/*.wrapper {
 margin: 0px auto;
 width: 995px;
 }*/

.listLinks.listLinksPage {
	box-shadow: 1px 1px 1px #cacaca;
	margin-bottom: 20px;
	margin-top: 0px;
	padding-bottom: 10px;
}

.listLinks .head h2 {
	color: #313175;
	float: left;
	font-weight: bold;
	font-size: 28px;
	width: 50%;
}

.listLinks h2 {
	color: #313175;
	font-size: 28px;
	margin: 0px 0px 8px 0px;
	padding: 0px 0px 10px 0px;
}

.listPage p {
	float: left;
}

.listPage strong {
	color: #555555;
	float: left;
	font-weight: bold;
	font-size: 12px;
	margin: 0px 10px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height: 30px;
	text-transform: uppercase;
}

.listPage .selectMyStyle {
	width: 60px;
}

.selectMyStyle, .scfDropListGeneralPanel {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888888;
	background: url(../images/bccd/sprites01.png) repeat-x right -450px;
	display: inline-block;
	height: 30px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	vertical-align: top;
	width: 203px;
}

.listPage .selectMyStyle select {
	width: 80px;
}

.selectMyStyle select, .scfDropListGeneralPanel select {
	background: none;
	border: 0px none;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 0px 5px;
	text-transform: uppercase;
	width: 230px;
}

.selectMyStyle select option {
	padding: 3px 10px 3px 10px;
}

.listPage ul {
	float: right;
	margin: 0px 0px 0px 30px;
	padding: 0px 0px 0px 0px;
}

.listSearch {
	line-height: 30px;
}

.listSearch {
	background: #dedede;
	padding: 15px 0px 15px 15px;
	text-transform: uppercase;
}

.listSearch .selectMyStyle {
	margin: 0px 20px 0px 0px;
}

.listLinks table {
	font-size: 12px;
	margin: 0px 0px 20px 0px;
	vertical-align: top;
	width: 100%;
}

.listLinks th.tdDate {
	width: 95px;
}

.listLinks th {
	font-weight: bold;
	text-transform: uppercase;
}

.listLinks th, .listLinks td {
	border-bottom: 1px solid #dddddd;
	font-weight: normal;
	padding: 10px 0px 10px 0px;
	text-align: left;
	vertical-align: top;
}

.listLinks th.tdTime {
	width: 60px;
}

.listLinks {
	font-family: Arial, Helvetica, sans-serif;
}

.listPage {
	float: right;
}

.listPage p {
	float: left;
}

.listPage ul {
	float: right;
	margin: 0px 0px 0px 30px;
	padding: 0px 0px 0px 0px;
}

.sponsorWideSection.sponsorSlide {
	height: 170px;
	margin-bottom: -60px;
}

.sponsorWideSection {
	background: url(../images/bccd/patternLogosWide.png) repeat-x top left;
	height: 200px;
}
.sponsorWideSection .wrapper {
	position: relative;
}

.navLeft {
	background: url(../images/bccd/sprites01.png) no-repeat -105px -1px;
	left: -25px;
}

.navLeft, .navRight {
	cursor: pointer;
	display: block;
	height: 30px;
	position: absolute;
	top: 84px;
	width: 16px;
}

.navRight {
	background: url(../images/bccd/sprites01.png) no-repeat -128px -1px;
	right: -25px;
}

.sponsorSection {
	position: relative;
	overflow: hidden;
}

.sponsorWideSection.sponsorSlide ul {
	padding-bottom: 0px;
	padding-top: 20px;
}

.sponsorWideSection ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 30px 0px 30px 0px;
}

.sponsorWideSection ul {
	left: 0px;
	position: relative;
	top: 0px;
	width: 4000px;
}

.sponsorWideSection ul li {
	float: left;
	line-height: 100px;
	padding: 40px 0px 0px 0px;
	text-align: center;
	width: 199px;
}